@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>Барыга.Нет</h1>
    <p class="lead">Создай свой магазин валют с блэкджеком и шлюхами! Выиграй от 5 до 10 лет с конфискацией!</p>
    <p><a href="../UserExchangeModels/Index" class="btn btn-primary btn-lg">Хочу свой магазин валюты! &raquo;</a></p>
</div>